<empty-card class="row justify-content-center border shadow m-4 p-5">
    <div class="col-md-12 d-flex justify-content-center">
        <span class="fa fa-info-circle fa-5x"></span>
    </div>
    <div class="col-md-12 d-flex justify-content-center p-3">
        <div class="col-md-4 p-1 l-bg-orange-dark">

        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <h3 class="text-center text text-sm-md text-md-lg">For the moment and due to some special reasons, we didn't find any information that could help you!</h3>
    </div>
</empty-card>